/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

.container {
    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
     "s h"
     "s c";
    grid-template-rows: 8% auto;
    grid-template-columns: 20% auto;
}

.container-logout {
    max-width: 1000px;
    min-height: 800px;
    max-height: fit-content;
    margin: 0 auto;
}

.header {
    grid-area: h;
    background-color: red;
}

/*INITIALIZING*/
.initializing-image {
    display: flex;
    position: relative;
    bottom: 2.5rem;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    height: 100vh;
}

.initializing-image img {
    border-radius: 200px;
}

/*SIDEBAR*/
.sidebar {
    grid-area: s;
    background-color: red;
    text-align: center;
}

.sidebar-logo {
    position: relative;
    width: 99%;
}

.sidebar-item {
    display: block;
    letter-spacing: 2px;
    padding: 2%;
    margin-top: 20%;
    color: orange;
    text-decoration: none;
}

.sidebar-item-active {
    display: block;
    letter-spacing: 2px;
    margin-top: 20%;
    padding: 2%;
    color: orange;
    text-decoration: underline;
}

.section-content {
    position: relative;
    grid-area: c;
    background-color: yellow;
}

.section-content-logout {
    position: relative;
    background-color: yellow;
    max-width: 100%;
    min-height: 600px;
    max-height: fit-content;
}

/*************************LOGIN PAGE*********************/
.logout-container-content {
    margin: 0 auto;
    max-width: 1118px;
    min-height: 852px;
    border-top: solid;
    border-right: solid;
    border-color: darkorange;
    border-radius: 10px;
    background-color: #dbc7c5;
}

.login-page-block {
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5ae58;
    max-width: 400px;
    min-width: 200px;
    box-shadow: inset 6px 6px 6px #c48b45, inset -6px -6px 6px #d19549;

}

.login-page-logo {
    width: 250px;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
}

.login-page-title {
    font-family: Teko;
}

.login-page-animation {
    background-image: url(https://thumbs.gfycat.com/AccuratePeacefulGraywolf-size_restricted.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    font-family: Fascinate;
}

.login-page-inputs-block {
    width: 210px;
    text-align: center;
}

.login-page-inputs-block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.login-page-inputs-block label {
    position: relative;
    top: 10.5px;
    letter-spacing: 1px;
}

.login-page-input-fields {
    width: 180px;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: Teko;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #f5ae58;
    padding: 10px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c48b45, inset -6px -6px 6px #d19549;
    outline: none;
    border: none;
}

.login-page-login-input:focus, .login-page-password-input:focus, .login-page-key-input:focus {
    transition: 0.5s;
    box-shadow: inset 6px 6px 6px #c48b45, inset -6px -6px 6px #f5e642;
}

.login-page-captcha-block {
    color: black;
}

.login-page-captcha-image {
    border-radius: 20px;
}

.login-page-captcha-input {
    background-color: #f5ae58;
    font-size: 14px;
    box-shadow: inset 6px 6px 6px #c48b45, inset -6px -6px 6px #d19549;
    margin-top: 20px;
    letter-spacing: 1px;
    width: 180px;
    margin-left: 105px;
    display: block;
    padding: 10px;
    /*height: 10px;*/
    border-radius: 50px;
    outline: none;
    border: none;
    text-align: center;
}

.login-page-key-error-container {
    width: 200px;
    margin: 0 auto;
}

.login-page-errors {
    margin-left: 16%;
    color: red;
}

.login-page-remember-checkBox {
    font-family: Teko;
    letter-spacing: 1px;
}

.login-page-login-button {
    color: gray;
    background: coral;
    height: 40px;
    width: 150px;
    font-weight: 900;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 21px;
}

.login-page-login-button:hover {
    transition: 0.3s;
    color: orange;
    background: yellow;
}

.login-page-login-button:disabled {
    background-color: black;
    color: white;
}

.login-page-auth-error {
    margin-top: 150px;
}

.signUpBlock {
    letter-spacing: 1px;
}

.login-page-signUp-button {
    text-decoration: none;
    font-size: 18px;
}

.login-page-signUp-button:hover {
    transition: 2ms;
    color: #f5e642;
    cursor: pointer;
}

.login-about-block {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

/*FOOTER*/
.footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: black;
    color: white;;
}

.footer-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.footer-container::before {
    content: 'Connect with me:';
    margin-right: 3%;
}

.footer-instagram-icon:hover {
    color: #ff9900;
    transition: 0.5s;
    cursor: pointer;
}

.footer-facebook-icon:hover {
    color: #2727f8;
    transition: 0.5s;
    cursor: pointer;
}

.footer-telegram-icon:hover {
    color: #5454f3;
    transition: 0.5s;
    cursor: pointer;
}


/*BREAKPONITS*/
@media (max-width: 800px) {
    .container {
        display: block;
    }

    .header {
        max-width: 100%;
        min-height: 4%;
    }

    .section-content {
        max-width: 100%;
        min-height: 800px;
    }
    .sidebar {
        display: none;
    }
}





