/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

.container {
    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
     "s h"
     "s c";
    grid-template-rows: 8% auto;
    grid-template-columns: 20% auto;
}

.container-logout {
    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
}

.header {
    grid-area: h;
    background-color: red;
}

.sidebar {
    grid-area: s;
    background-color: red;
    text-align: center;
}

.sidebar-logo {
    position: relative;
    width: 99%;
}

.sidebar-item {
    display: block;
    letter-spacing: 2px;
    padding: 2%;
    margin-top: 20%;
    color: orange;
    text-decoration: none;
}

.sidebar-item-active {
    display: block;
    letter-spacing: 2px;
    margin-top: 20%;
    padding: 2%;
    color: orange;
    text-decoration: underline;
}

.section-content {
    position: relative;
    grid-area: c;
    background-color: yellow;
}

.section-content-logout {
    position: relative;
    background-color: yellow;
    max-width: 100%;
    min-height: 600px;
}

/*FOOTER*/
.footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: black;
    color: white;;
}

.footer-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.footer-container::before {
    content: 'Connect with me:';
    margin-right: 3%;
}

.footer-instagram-icon:hover {
    color: #ff9900;
    transition: 0.5s;
    cursor: pointer;
}

.footer-facebook-icon:hover {
    color: #2727f8;
    transition: 0.5s;
    cursor: pointer;
}

.footer-telegram-icon:hover {
    color: #5454f3;
    transition: 0.5s;
    cursor: pointer;
}


/*BREAKPONITS*/
@media (max-width: 800px) {
    .container {
        display: block;
    }

    .header {
        max-width: 100%;
        min-height: 4%;
    }

    .section-content {
        max-width: 100%;
        min-height: 800px;
    }
    .sidebar {
        display: none;
    }
}





